body{
	position: relative;
	background-color: #ecf0f1;
}
.content{
	position: absolute;
	right: 40%;
	text-align: center;
}
.row{
	position: relative;
}
.tube{
	border-style: solid;
	border-color: #595f69;
	float:left;
	height: 70px;
	width: 70px;
	text-align: center;
	margin:10px 10px 10px 10px;
}

.tube font{
	position: relative;
	font-size:350%;
	font-weight: 500;
	font-family: Georgia;
}
.fontHoldOn{
	color: #495A80;
}
.fontHover{
	color: #FF0033;
}
.clearb{
	clear: both;
}

.holdOn{
	background-color: rgb(81, 255, 0);
}

.hover{
	background-color: blue;
}

.errorWay{
	background-color: red;
}