body{
	position: relative;
	background-color: #ecf0f1;
}
.content{
	position: absolute;
	right: 40%;
	text-align: center;
}
.row{
	position: relative;
}
.tube{
	border-style: solid;
	border-color: #595f69;
	/*position: absolute;*/
	float:left;
	height: 70px;
	width: 70px;
	text-align: center;
	/*vertical-align: middle;*/
	/*padding: 7px 3px 3px 3px;*/   
  	/*line-height:70px; */
	margin:10px 10px 10px 10px;
}

.tube font{
	position: relative;
	font-size:350%;
	font-weight: 500;
	font-family: Georgia;
}
.fontHoldOn{
	color: #495A80;
}
.fontHover{
	color: #FF0033;
	/*color: #0099CC;*/
}
.clearb{
	clear: both;
}

.holdOn{
	background-color: rgb(81, 255, 0);
}

.hover{
	background-color: blue;
}

.errorWay{
	background-color: red;
}

.card .image-wrap {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
	box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}