/*div{
	border-width: 2px;
	border-style: solid;
}*/

.header{
	position: relative;
	border-color: blue;
	height: 30px;
}
#logo{
	position: absolute;
	left: 20%;
}
/*#user:hover{*/
/*	background-color: black;*/
/*}*/
#user{
	position: absolute;
	top: 17px;
	right: 20%;
	align:right;
}
.content{
	position: relative;
	height: 450px;
	border-color: red;
}
.banner{
	position: relative;
	height: 50px;
	width: 60%;
	left: 25%;
	margin-bottom: 20px;
}
.banner font{
	position: relative;
	font-size:300%;
	font-weight: 500;
	font-family: Georgia;
	color: #333333;
}
#left{
	position: absolute;
	width: 68%;
	right: 50px;
	height: 450px;
}
#right{
	/*left: 60%;*/
	width: 30%;
	/*padding: 0px;*/
	right: 2px;
	position: absolute;
	height: 450px;
}
.footer{
	border-color: green;
	height: 60px;
}

body{
	position: relative;
	background-color: #ecf0f1;
}

.row{
	position: relative;
}
.tube{
	border-style: solid;
	border-color: #595f69;
	float:left;
	height: 70px;
	width: 70px;
	text-align: center;
	margin:8px 8px 8px 8px;
}

.tube font{
	position: relative;
	font-size:350%;
	font-weight: 500;
	font-family: Georgia;
}

div font{
	position: relative;
	font-size:100%;
	font-weight: 250;
	font-family: Georgia;
}
.fontHoldOn{
	color: #495A80;
}
.fontHover{
	color: #FF0033;
}
.clearb{
	clear: both;
}

.holdOn{
	background-color: rgb(81, 255, 0);
}

.hover{
	background-color: blue;
}

.errorWay{
	background-color: red;
}