<!DOCTYPE html>
<html>
<head>
	<title>CSS</title>
	<link rel="stylesheet" href="2016.css">  
</head>
<body>
<div class="header">
	<div id="logo"><img width="30px" height="30px" src="https://gocn.io/uploads/avatar/000/00/04/80_avatar_max.jpg?rand=1746"></div>
	<div id="user">User</div>
</div>
<!-- <div class="clearb"></div> -->
<div class="content">
	<div id="left">left content
	<img src="github.png" style="position:absolute;">
	<img src="github.png" style="position:absolute; left:140px;">
	</div>
	<div id="right">aside</div>
</div>
<div class="footer">footer</div>
</body>
</html>